TicketFinder/Service References/svcTicketFinder/TicketFinderService43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.10.216/TicketFinder/TicketFinderService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://192.168.10.216/TicketFinder/TicketFinderService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Jaxis.POS.Data" />
  <xs:import schemaLocation="http://192.168.10.216/TicketFinder/TicketFinderService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TicketFinderService" />
  <xs:element name="GetTimePeriods">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionID" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimePeriodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Jaxis.POS.Data" minOccurs="0" name="GetTimePeriodsResult" nillable="true" type="q2:ArrayOfDataMicrosTimePeriod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstablisments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionID" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEstablismentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Jaxis.POS.Data" minOccurs="0" name="GetEstablismentsResult" nillable="true" type="q4:ArrayOfDataPOSEstablisment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="sessionID" type="q5:guid" />
        <xs:element minOccurs="0" name="ticketNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="establishment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ticketText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timePeriod" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Jaxis.POS.Data" minOccurs="0" name="GetTicketDataResult" nillable="true" type="q6:ArrayOfDatavwPOSTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="customerID" type="q7:guid" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TicketFinderService" minOccurs="0" name="file" nillable="true" type="q8:POSFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubmitFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>