FileUpload/Service References/svcDataLoaderWCF/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataLoaderWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Jaxis.Data.Service" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Jaxis.POS.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataLoaderWCF_LoadJournalFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadJournalFiles" />
  </wsdl:message>
  <wsdl:message name="IDataLoaderWCF_LoadJournalFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadJournalFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataLoaderWCF_LoadDataFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadDataFiles" />
  </wsdl:message>
  <wsdl:message name="IDataLoaderWCF_LoadDataFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadDataFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataLoaderWCF_SubmitFile_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitFile" />
  </wsdl:message>
  <wsdl:message name="IDataLoaderWCF_SubmitFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitFileResponse" />
  </wsdl:message>
  <wsdl:message name="IDataLoaderWCF_GetTimePeriods_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimePeriods" />
  </wsdl:message>
  <wsdl:message name="IDataLoaderWCF_GetTimePeriods_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimePeriodsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataLoaderWCF_GetEstablisments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEstablisments" />
  </wsdl:message>
  <wsdl:message name="IDataLoaderWCF_GetEstablisments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEstablismentsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataLoaderWCF_GetTicketData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketData" />
  </wsdl:message>
  <wsdl:message name="IDataLoaderWCF_GetTicketData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTicketDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDataLoaderWCF_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IDataLoaderWCF_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IDataLoaderWCF_GetDataQuery_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataQuery" />
  </wsdl:message>
  <wsdl:message name="IDataLoaderWCF_GetDataQuery_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataQueryResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataLoaderWCF">
    <wsdl:operation name="LoadJournalFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataLoaderWCF/LoadJournalFiles" message="tns:IDataLoaderWCF_LoadJournalFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataLoaderWCF/LoadJournalFilesResponse" message="tns:IDataLoaderWCF_LoadJournalFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadDataFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataLoaderWCF/LoadDataFiles" message="tns:IDataLoaderWCF_LoadDataFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataLoaderWCF/LoadDataFilesResponse" message="tns:IDataLoaderWCF_LoadDataFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataLoaderWCF/SubmitFile" message="tns:IDataLoaderWCF_SubmitFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataLoaderWCF/SubmitFileResponse" message="tns:IDataLoaderWCF_SubmitFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimePeriods">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataLoaderWCF/GetTimePeriods" message="tns:IDataLoaderWCF_GetTimePeriods_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataLoaderWCF/GetTimePeriodsResponse" message="tns:IDataLoaderWCF_GetTimePeriods_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEstablisments">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataLoaderWCF/GetEstablisments" message="tns:IDataLoaderWCF_GetEstablisments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataLoaderWCF/GetEstablismentsResponse" message="tns:IDataLoaderWCF_GetEstablisments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTicketData">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataLoaderWCF/GetTicketData" message="tns:IDataLoaderWCF_GetTicketData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataLoaderWCF/GetTicketDataResponse" message="tns:IDataLoaderWCF_GetTicketData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataLoaderWCF/Login" message="tns:IDataLoaderWCF_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataLoaderWCF/LoginResponse" message="tns:IDataLoaderWCF_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataQuery">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataLoaderWCF/GetDataQuery" message="tns:IDataLoaderWCF_GetDataQuery_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataLoaderWCF/GetDataQueryResponse" message="tns:IDataLoaderWCF_GetDataQuery_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="httpEndpoint" type="tns:IDataLoaderWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoadJournalFiles">
      <soap:operation soapAction="http://tempuri.org/IDataLoaderWCF/LoadJournalFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadDataFiles">
      <soap:operation soapAction="http://tempuri.org/IDataLoaderWCF/LoadDataFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitFile">
      <soap:operation soapAction="http://tempuri.org/IDataLoaderWCF/SubmitFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimePeriods">
      <soap:operation soapAction="http://tempuri.org/IDataLoaderWCF/GetTimePeriods" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEstablisments">
      <soap:operation soapAction="http://tempuri.org/IDataLoaderWCF/GetEstablisments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTicketData">
      <soap:operation soapAction="http://tempuri.org/IDataLoaderWCF/GetTicketData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IDataLoaderWCF/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataQuery">
      <soap:operation soapAction="http://tempuri.org/IDataLoaderWCF/GetDataQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataLoaderWCF">
    <wsdl:port name="httpEndpoint" binding="tns:httpEndpoint">
      <soap:address location="http://localhost:8733/DataLoaderWCF/DataLoaderWCF/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>